

<body style="font-family: Dekko, serif;">
    
    <main class="page landing-page">
        <section class="justify-content-md-center align-items-md-center align-items-lg-center clean-block clean-hero" style="color: rgba(255,87,87,0);text-align: left;background: #0E9AFF;padding: 20px;">
            <div class="d-none d-sm-none d-md-none d-lg-flex d-xl-flex d-xxl-flex align-items-lg-end align-items-xl-end align-items-xxl-end" style="height: 680px;"><img src="~/media/assets/img/ruiva.png" style="height: 290px;"></div>
            <div class="text" style="padding: 40px;">
                <h2 class="text-start" style="font-weight: bold;text-align: left;font-size: 100px;color: #0e18ff;text-shadow: 5px 5px 5px rgba(42,42,42,0.06);">FAQ</h2>
                <p style="color: var(--bs-warning);font-size: 32px;">Perguntas e respostas para você saber mais sobre o projeto.</p>
            </div>
            <div class="d-none d-sm-none d-md-none d-lg-block d-xl-block d-xxl-block" style="height: 680px;"><img src="~/media/assets/img/duas%20estrelas.png" width="200px"></div>
        </section>
        <section class="clean-block features" style="border-style: none;">
            <div class="container">
                <div class="block-heading" style="border-style: none;">
                    <div class="accordion" role="tablist" id="accordion-1" style="border-style: none;border-color: var(--bs-indigo);">
                        <div class="accordion-item" style="border-color: rgba(33,37,41,0);">
                            <h2 class="accordion-header" role="tab" style="border-style: none;"><button class="accordion-button collapsed border rounded-pill" data-bs-toggle="collapse" data-bs-target="#accordion-1 .item-1" aria-expanded="false" aria-controls="accordion-1 .item-1" style="color: rgb(0,0,0);background: var(--bs-red);">É gratuito?</button></h2>
                            <div class="accordion-collapse collapse item-1" role="tabpanel" data-bs-parent="#accordion-1" style="border-color: rgba(33,37,41,0);">
                                <div class="accordion-body">
                                    <p class="text-start mb-0" style="margin: 0px;color: rgb(33, 37, 41);">SIM! O site é um projeto que visa ser gratuito para todos que precisarem dele.</p>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item" style="border-style: none;">
                            <h2 class="accordion-header" role="tab"><button class="accordion-button collapsed border rounded-pill" data-bs-toggle="collapse" data-bs-target="#accordion-1 .item-2" aria-expanded="false" aria-controls="accordion-1 .item-2" style="color: rgb(0,0,0);background: var(--bs-cyan);">Onde posso procurar mais informações sobre autismo?</button></h2>
                            <div class="accordion-collapse collapse item-2" role="tabpanel" data-bs-parent="#accordion-1">
                                <div class="accordion-body">
                                    <p class="text-start mb-0" style="margin: 0px;text-align: left;width: 100%;">Você pode procurar em várias fontes. Indicamos esses sites para você como primeiro contato:&nbsp;<br>website1.com.br<br>website2.com.br</p>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item" style="border-style: none;">
                            <h2 class="accordion-header" role="tab"><button class="accordion-button collapsed border rounded-pill" data-bs-toggle="collapse" data-bs-target="#accordion-1 .item-3" aria-expanded="false" aria-controls="accordion-1 .item-3" style="color: rgb(0,0,0);background: var(--bs-warning);">Meu filho vai ter algum resultado em quanto tempo?</button></h2>
                            <div class="accordion-collapse collapse item-3" role="tabpanel" data-bs-parent="#accordion-1">
                                <div class="accordion-body">
                                    <p class="text-start mb-0" style="width: 100%;margin: 0px;">Não existe como garantir que vai dar certo em três dias ou em dois meses. A pessoa deve ter um acompanhamento psicológico para maximizar o efeito positivo que a tecnologia possa dar e utilizar ela como uma aliada ao tratamento.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </main>
    
    <script src="~/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
    <script src="~/js/vanilla-zoom.js"></script>
    <script src="~/js/theme.js"></script>
    <script src="~/js/site.js"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
</body>

